/data
/data1
/data2
../test/
/web/bundles/
/web/css/
/web/js/
/web/config.php
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/app/SymfonyRequirements.php
/app/config/parameters.yml
/build/
/vendor/
/bin/doctrine
/bin/doctrine.php
/phpunit.xml
/composer.phar
/durian.sha1
app/cache
